@font-face {
  font-family: RobotoCondensed;
  src: url(assets/roboto-condensed.light.ttf);
  font-weight: 800;
}

@font-face {
  font-family: EcomonicaBold;
  src: url(assets/economica-bold.ttf);
}

body {
  text-align: center;
  font-size: 20px;
  font-family: "RobotoCondensed";
}
